<%- include ("./menu"); %>
<div class="container">
    <h1>Dashboard</h1>
    <form class="d-flex justify-content-end" method="get" action="/dashboard">
        <div class="form-floating mx-2">
            <input type="date" class="form-control" id="from" name="from" value="<%=from%>">
            <label for="from">From</label>
        </div>
        <div class="form-floating mx-2">
            <input type="date" class="form-control" id="to" name="to" value="<%=to%>">
            <label for="to">To</label>
        </div>
        <input type="submit" class="btn btn-dark" value="Choose Dates">

    </form>
    <h5 class="mb-3">Overview</h5>
    <div class="row d-flex justify-content-around mb-3">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Total:</div>
            <div class="card-body">
              <h4 class="card-title"><%if(!total){%>0.00 <%}else{%> <%=total%> <%}%>€</h4>
            </div>
        </div>
        <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Due Amount:</div>
            <div class="card-body">
              <h4 class="card-title"><%if(!due_amount){%>0.00 <%}else{%> <%=due_amount%> <%}%>€</h4>
            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">To Receive:</div>
            <div class="card-body">
              <h4 class="card-title"><%if(!cash_in){%>0.00 <%}else{%> <%=cash_in%> <%}%></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="mb-3">Expense by Category</h5>
        <%if(categoryTotals.length>0){%>
        <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
            <div class="carousel-inner w-100">
                <% categoryTotals.forEach(function(category,index){ %>
                <div class="carousel-item <%if(index == 0){ %> active <%}%>">
                <div class="col-md-3">
                    <div class="card border-warning m-3" style="max-width: 50rem;">
                        <div class="card-header"><%=category.name%></div>
                        <div class="card-body">
                          <h4 class="card-title"><%=category.total_cat%>€</h4>
                        </div>
                    </div>
                    </div>
                </div>
                <%})%>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <%}else{%>
        <p class="my-3">No categories to display</p>
        <%}%>
    </div>
    <div class="row">
        <div class="col-md-6 my-3">
            <h5>Due Payments</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">User</th>
                    <th scope="col">Expense</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <%if(typeof(duePayments) != 'undefined'){%>
                <tbody>
                    <% duePayments.forEach(function(due){ %>
                    <tr class="table-active">
                        <th><%=due.user%></th>
                        <td><%=due.expense%></td>
                        <td><%=due.amount%>€</td>
                        <td><button type="button" class="btn btn-dark">Pay</button></td>
                    </tr>
                    <%})%>
                </tbody>
                <%}else{%>
                    <p class="my-3">No due payments to display</p>
                <%}%>
            </table>
        </div>
        <div class="col-md-6 my-3">
            <h5>Debtors</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">User</th>
                    <th scope="col">Expense</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    </tr>
                </thead>
                <%if(typeof(debtors) != 'undefined'){%>
                    <tbody>
                        <% debtors.forEach(function(debtor){ %>
                        <tr class="table-active">
                            <th><%=debtor.user%></th>
                            <td><%=debtor.expense%></td>
                            <td><%=debtor.amount%>€</td>
                            <td><%=debtor.date.toISOString().split('T')[0]%></td>
                        </tr>
                        <%})%>
                    </tbody>
                    <%}else{%>
                        <p class="my-3">No debtors to display</p>
                    <%}%>
            </table>
        </div>
        
    </div>    
</div>

<script src="/js/dash.js"></script>
