<%- include ("./menu"); %>
<h1>Share <%=expense.name %> expense of €<%= expense.total_amount %></h1>
<%- include ("./flash-messages"); %>
<form method="post" action="/expenses/<%=expense.id%>/addUser">
    <div class="row">
        <div class="col">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label for="user_id" class="labels">User</label>
                        <select class="form-select form-control" name="user_id" id="user_id">
                            <%if(typeof(comboUsers) != 'undefined'){%>
                            <option value="" selected>Select User</option>
                            <% comboUsers.forEach(function(comboUser){ %>
                            <option value="<%= comboUser.id %>"><%= comboUser.name %></option>
                            <% }) %>
                            <%}%>
                          </select>
                    </div>
                    <div class="col-md-4">
                        <label for="amount" class="labels">Amount</label>
                        <div class="input-group">
                            <span class="input-group-text">€</span>
                            <input type="number" name="amount" id="amount" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="status_id" class="labels">Status</label>
                        <select class="form-select form-control" name="status_id" id="status_id">
                        <%if(typeof(statuses) != 'undefined'){%>
                            <option value="">Select Status</option>
                            <% statuses.forEach(function(status){ %>
                            <option value="<%= status.id%>"><%= status.name%></option>
                            <% }) %>
                            <%}%>
                        </select>
                    </div>
                    <div class="mt-5">
                        <input type="submit" id="addUser" class="btn btn-primary profile-button" value="Add User">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <%if(typeof(users) != 'undefined'){%>
                    <tbody>
                        <% users.forEach(function(user){ %>
                        <tr>
                            <td><%=user.user_id %></td>
                            <td><%=user.name %></td>
                            <td><%=user.amount %></td>
                            <td><%=user.status %></td>
                            <td><a href="/expenses/<%=expense.id%>/removeUser/<%= user.user_id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                    <%}else{ %>
                    <tbody>
                        <tr>
                            No added users
                        </tr>
                    </tbody>
                    <%} %>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="/dashboard" role="button">Finish</a>
            <a class="btn btn-secondary me-2" href="/expenses/<%=expense.id%>" role="button">Go back</a>
        </div>
    </div>
</div>